{% extends "base.html.twig" %}
{% block body %}

    <div class="col-5">
        <table class="table table-bordered">
            <caption>Panier</caption>
            <thead>
            <tr><th>Nom du Produit</th><th>quantite</th><th>prix</th><th>prix total</th>
            </tr>
            </thead>
            <tbody>
            {% if panier is defined %}
                {% for produit in panier %}
                    {#{% if id == produit.userId.getId() %}#}
                    <tr>
                    <td>{{ produit.produitId.nom }}</td><td>{{ produit.quantite }}</td><td>{{ produit.prix}}</td>
                        <td>{{ (produit.quantite * produit.prix)|number_format(2,'.',',') }}</td>
                    </tr>
                    {#{% endif %}#}
                {% endfor %}
            {% else %}
                <tr class="table-warning"><td>Erreur</td></tr>
            {% endif %}
            </tbody>
        </table>
        {% if prixTotal is defined %}
            <td>prix total = {{ prixTotal }} €</td>
            <p> Commande validée </p>
        {% endif %}
        {% if prixTotal is not defined %}
            <p> Erreur </p>
        {% endif %}
    </div>
{% endblock %}