{% extends "base.html.twig" %}
{% block body %}
    <div class="col-6">
        <table class="table table-bordered">
            <caption>Commandes</caption>
            <thead>
            <tr><th>Numero commande</th><th>Client</th><th>Date</th><th>prix total</th><th>Etat Commande</th><th></th><th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% if commandes is defined %}
                {% for commande in commandes %}
                        <tr>
                            <td>{{ commande.id }}</td><td>{{ commande.getUserId().getUsername() }}</td><td>{{ commande.date |date('d/m/Y') }}</td>
                            <td>{{ commande.getPrixTotal() }}</td><td>{{ commande.getEtatId().getNom() }}</td><td></td>
                                <td>
                                    <form action="{{ path('Admin.CommandeClient.details') }}" method="post">
                                    <input hidden name="commandeId" value="{{ commande.id }}"/>
                                        <button type="submit" class="btn btn-primary">Details</button>
                                    </form>
                                    <p></p>
                                    <form action="{{ path('Admin.validCommande') }}" method="post">
                                    <input hidden name="commandeId" value="{{ commande.id }}"/>
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                    </form>
                                </td>
                        </tr>
                {% endfor %}
            {% else %}
                <p>Aucunes commandes passées encore</p>
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}